/************************TAG SELECTORS**************************/

body{
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
}

hr{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p{
    color: #000000;
    margin-bottom: 0;
}


/************************TOP CONTAINER**************************/

.top-container{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.pfp{
    margin: 0 auto 0;
    position: relative;
    right: 0.5%;
    bottom: 2rem;
    width: 45rem;
}

.top-container-h1{
    font-size: 5.5rem;
    color: white;
    margin: 50px auto 0;
    width: 90%;
}

.top-container-hr{
    border-color: white;
    border-radius: 5%;
    border-style: solid none none;
    border-width: 3px;
    margin: 20px auto;
    width: 20%;
}

.top-container-h2{
    width: 80%;
    margin: 50px auto 0;
    padding-bottom: 100px;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;
}

@media (min-width: 2560px) {

    .pfp{
        right: 0.5%;
        bottom: 1.3rem;
        width: 45%;
    }

    .top-container-h1{
        margin: 65px auto 0;
        font-size: 7.15rem;
        width: 90%;
    }

    .top-container-hr{
        border-width: 5px;
        margin: 13px auto;
    }

    .top-container-h2{
        margin: 65px auto 0;
        padding-bottom: 195px;
        font-size: 3.25rem;
    }

}

@media (min-width: 3840px) {

    .pfp{
        right: 0.5%;
        bottom: 2rem;
        width: 45%;
    }

    .top-container-h1{
        margin: 100px auto 0;
        font-size: 11rem;
        width: 90%;
    }

    .top-container-hr{
        border-width: 5px;
        margin: 20px auto;
    }

    .top-container-h2{
        margin: 100px auto 0;
        padding-bottom: 300px;
        font-size: 5rem;
    }

}

@media (max-width: 1200px){

    .top-container{
        background-size: 120% 100%;
    }

}

@media (max-width: 992px){

    .top-container{
        background-size: 130% 100%;
    }

}

@media (max-width: 768px){

    .pfp{
        width: 100%;
    }

    .top-container{
        background-size: 135% 100%;
    }

    .top-container-h1{
    margin: 50px auto 10px;
    }

    .top-container-hr{
        margin: 0 auto;
        width: 30%;
    }

    .top-container-h2{
        margin: 50px auto 0;
    }

}

@media (max-width: 600px){

    .top-container{
        background-size: 200% 100%;
        background-attachment: fixed;
    }

    .pfp{
        right: 0;
        width: 100%;
    }

    .top-container-h1{
        font-size: 5rem;
    }

    .top-container-hr{
        border-width: 3px;
        margin: 40px auto 0;
        width: 40%;
    }

    .top-container-h2{
        margin: 50px auto 0;
        font-size: 2.5rem;
    }
}

/************************ABOUT ME CONTAINER**************************/

.about-me-container{
    /*background-color: #d2e3f5;*/
    margin: 0;
}

.about-me-header{
    font-size: 5.5rem;
    color: #364048;
    margin: 100px auto 0;
    width: 90%;
}

.about-me-hr{
    border-radius: 5%;
    border-color: #51636f;
    border-style: solid none none;
    border-width: 2px;
    width: 20%;
    margin: 20px auto;
}

.about-me-text{
    margin: 80px auto 100px;
    width: 60%;
}

@media (min-width: 2560px) {

    .about-me-header{
        font-size: 7.15rem;
        margin: 130px auto 0;
    }

    .about-me-hr{
        border-width: 4px;
        width: 20%;
        margin: 26px auto;
    }

    .about-me-text{
        font-size: 1.95rem;
        margin: 104px auto 130px;
        width: 60%;
    }

}

@media (min-width: 3840px) {

    .about-me-header{
        font-size: 11rem;
        margin: 200px auto 0;
    }

    .about-me-hr{
        border-width: 4px;
        width: 20%;
        margin: 40px auto;
    }

    .about-me-text{
        font-size: 3rem;
        margin: 160px auto 200px;
        width: 60%;
    }

}

@media (max-width: 992px){

    .about-me-hr{
        width: 25%;
    }

    .about-me-text{
        font-size: 1.05rem;
        width: 70%;
    }

}

@media (max-width: 768px){

    .about-me-hr{
        width: 30%;
    }

    .about-me-text{
        font-size: 1.1rem;
        width: 80%;
    }

}

@media (max-width: 600px) {

    .about-me-header{
        font-size: 4rem;
    }

    .about-me-hr{
        width: 40%;
    }

    .about-me-text{
        text-align: center;
        font-size: 1.2rem;
        width: 85%;
    }
}

/************************ORIGINAL SONGS CONTAINER**************************/

.original-songs-container{
    background-color: #364048;
    margin: 0;
    padding-bottom: 100px;
}

.original-songs-header{
    font-size: 5.5rem;
    color: whitesmoke;
    margin: 0 auto 0;
    padding: 120px 0 0;
    width: 90%;
}

.original-songs-hr{
    border-color: white;
    border-radius: 5%;
    border-style: solid none none;
    border-width: 3px;
    margin: 20px auto 150px;
    width: 30%;
}

.soundcloud{
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

.soundlcoud-songs-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0 2%;
}

.soundlcoud-song{
    text-align: center;
    display: inline-block;
    margin: 0 2%;
    flex: 25%;
    padding-bottom: 50px;
}

.soundlcoud-iframe{
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (min-width: 2560px) {

    .original-songs-container{
        padding-bottom: 65px;
    }

    .original-songs-header{
        font-size: 7.15rem;
        padding: 156px 0 0;
    }

    .original-songs-hr{
        border-radius: 5%;
        border-width: 4px;
        margin: 26px auto 195px;
        width: 30%;
    }

    .soundlcoud-song{
        padding-bottom: 130px;
    }

    .soundcloud{
        font-size: 19px;
    }

}

@media (min-width: 3840px) {

    .original-songs-container{
        padding-bottom: 100px;
    }

    .original-songs-header{
        font-size: 11rem;
        padding: 240px 0 0;
    }

    .original-songs-hr{
        border-radius: 5%;
        border-width: 4px;
        margin: 40px auto 300px;
        width: 30%;
    }

    .soundlcoud-song{
        padding-bottom: 100px;
    }

    .soundcloud{
        font-size: 30px;
    }

}

@media (max-width: 1200px){

    .original-songs-container{
        padding-bottom: 80px;
    }

    .original-songs-hr{
        width: 35%;
    }
}

@media (max-width: 992px){

    .original-songs-container{
        padding-bottom: 60px;
    }

    .original-songs-header{
        font-size: 5rem;
    }

    .original-songs-hr{
        width: 40%;
    }

    .soundlcoud-song{
        flex: 45%;
    }

}

@media (max-width: 768px){

    .original-songs-container{
        padding-bottom: 40px;
    }

    .original-songs-header{
        font-size: 4rem;
    }

}


@media (max-width: 600px){

    .original-songs-container{
        padding-bottom: 50px;
    }

    .original-songs-header{
        font-size: 4rem;
        width: 90%;
        padding: 100px 0 0;
        margin-bottom: 100px;
    }

    .original-songs-hr{
        display: none;
        /*margin: 70px auto 100px;*/
        /*width: 40%;*/
        /*border-width: 6px;*/
    }

    .soundlcoud-song{
        flex: 95%;
    }

    .soundcloud{
        font-size: 13px;
    }
}

/************************BOTTOM CONTAINER**************************/

.bottom-container{
    background-color:#2a2a2e;
}

.contact-icons-container{
    display: flex;
    margin: 0 auto;
    width: 20%;
    padding: 50px 0 30px;
}

.contact-icon-div{
    flex: 25%;
}

.contact-icon{
    display: inline-block;
    font-size: 2rem;
    color: white;
    transition: 0.2s;
}

.contact-icon:hover{
    text-align: center;
    font-size: 2.5rem;
    color: #cecece;
}

@media (min-width: 2560px) {

    .contact-icons-container{
        display: flex;
        margin: 0 auto;
        width: 20%;
        padding: 65px 0 39px;
    }

    .contact-icon{
        display: inline-block;
        font-size: 2.6rem;
        color: white;
        transition: 0.2s;
    }

    .contact-icon:hover{
        text-align: center;
        font-size: 3.25rem;
        color: #cecece;
    }

}

@media (min-width: 3840px) {

    .contact-icons-container{
        display: flex;
        margin: 0 auto;
        width: 20%;
        padding: 100px 0 60px;
    }

    .contact-icon{
        display: inline-block;
        font-size: 4rem;
        color: white;
        transition: 0.2s;
    }

    .contact-icon:hover{
        text-align: center;
        font-size: 5rem;
        color: #cecece;
    }

}

@media (max-width: 1200px) {

    .contact-icons-container{
        width: 30%;
    }

}

@media (max-width: 992px) {

    .contact-icons-container{
        width: 35%;
    }

    .contact-icon{
        font-size: 2.2rem;
    }

}

@media (max-width: 768px) {

    .contact-icons-container{
        width: 50%;
    }

    .contact-icon{
        font-size: 2.3rem;
    }

}

@media (max-width: 600px){

    .contact-icons-container{
        width: 90%;
    }

    .contact-icon{
        font-size: 2.5rem;
        color: white;
    }

}